.details-container {
  position: fixed;
  top: 10%;
  height: 83%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
}

.details-container h2 {
  padding: 25px 50px;
  margin: 0;
}

.details-available-dates {
  gap: 20px;
}

.details-policies h2 {
  padding-top: 30px;
}

.details-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-gallery {
  width: 100%;
}

.details-header {
  width: 100%;
}

.details-location-scoring-info {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  background-color: #dfe4ea;
}

.details-location {
  display: flex;
  gap: 10px;
  width: 50%;
}

.details-location-info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
}

.details-scoring {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.details-score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31363f;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.details-score p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.details-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.details-available-dates {
  display: grid;
  background-color: #dfe4ea;
  padding: 15px 50px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr 3fr;
}

.details-available-dates h2{
  padding: 0;
  align-self: center;
  
}

.details-map p {
  font-weight: bold;
  padding: 25px 50px;
}

.details-share {
  padding: 15px 50px 0;
  display: flex;
  gap: 15px;
}

.details-line {
  border: 0.7px solid #f0572d;
}

.calendar-layout {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}

/* .calendar-details {
  margin: 20px;
} */

.reservation-details {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  background-color: white;
  padding: 20px;
  gap: 15px ;
  border-radius: 8px;
  box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
}

.reservation-details p {
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {

  .details-available-dates {
    grid-template-rows: .5fr 2fr 1fr;
    grid-template-columns: auto;
    gap: 0;
  }

  .reservation-details {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column: 1;
    grid-row: 3;
    background-color: #dfe4ea;
    box-shadow: none;
  }

  .details-location-scoring-info {
    padding: 15px 20px;
  }

  .details-container h2 {
    padding: 25px 25px;
  }

  .details-available-dates {
    padding: 25px 25px;
  }

  /* .details-available-dates h2 {
    padding: 0px 5px 25px;
  } */
  .details-share {
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .details-share {
    position: absolute;
    z-index: 2;
    padding: 15px 15px;
  }

  .details-map p {
    padding: 25px 15px;
  }
  .details-container h2 {
    padding: 25px 15px;
  }

  .details-distance {
    display: none;
  }

  .reservation-details {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
  }

}
