
.picker .ant-picker {
    width: 100%;
}

.ant-picker-dropdown {
    position: fixed;
    width: 580px;
    left: calc((100vw - 580px)/2) !important;
}

.ant-picker-range .ant-picker-range-separator {
    display: none;
    
}

.ant-picker .ant-picker-suffix {
    display: none;
}

@media (max-width: 600px) {

    .ant-picker-dropdown-placement-bottomLeft  {
        max-width: 80vw;
        height: auto;
    }
    .ant-picker-panel-layout {
        max-width: 80vw;
        height: auto    
    }

    .ant-picker-panel-layout div:first-child {
        max-width: 80vw;
        height: auto;
    }

    .ant-picker-panels {
        max-width: 80vw;
        height: auto;
    }

    .ant-picker-date-range-wrapper .ant-picker-panel-container {
        margin-left: 0px !important;
    }

    .ant-picker-panels > .ant-picker-panel:last-child {
        display: none;
    }

    .ant-picker-header * {
        visibility: visible;
    }

    .ant-picker-dropdown {
        position: absolute;
        width: 290px;
        left: calc((100vw - 290px)/2) !important;
    }
    
}

@media (max-width: 1024px) and (min-width: 601px) {
    /* Tablet */

    .ant-picker-dropdown-placement-bottomLeft  {
        max-width: 590px;
        height: auto;
    }
    .ant-picker-panel-layout {
        max-width: 590px;
        height: auto    
    }

    .ant-picker-panel-layout div:first-child {
        max-width: 590px;
        height: auto;
    }

    .ant-picker-panels {
        max-width: 590px;
        height: auto;
    }

    .ant-picker-panel {
        max-width: 50%;
    }
}

