.searcher {
    position: fixed;
    height: 11%;
    width: calc(100% - 10px);
    background-color: #191B1D;
    z-index: 2;
    
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 40% 40%;
    grid-gap: 10px;
}

.searcher p {
    margin: 5px;
}   

.searcher h1 {
    color: #DFE4EA;
    font-size: 28px;
    font-weight: 600;
    justify-self: center;
    margin: 5px;
    grid-row: 1;
    grid-column: 1 / 2;
}

#calendar {
    padding: 0px 10px;
    align-items: center;
    grid-row: 1 ;
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-columns: 10% 90%;
}


.searcher button {
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 87, 45);
    color: #DFE4EA;
    font-weight: 600;
    cursor: pointer;
}


.searcher-input-grid {
    grid-row: 2;
    width: 100%;
    display: grid;
    justify-self: center;
    grid-gap: 10px;
    justify-content: center;

    grid-template-columns: 30% 30% 20%;
    grid-template-rows: 100%;
}

.searcher section div {
    background-color: #DFE4EA;
    
}

.searcher section > div {
    border-radius: 5px;
}

.states {
    display: grid;

}

.location-container {
    grid-row: 1 ;    
}

#btn-search {
    grid-row: 1 ;
    grid-column: 3 / 3;
    width: 100%;
}

.searcher section div select {
    width: 90%;
    height: 80%;
    background-color: #DFE4EA;
    border: none;
}

.searcher section div img {
    max-height: 70%;
}




/* LOCATION FORM*/

a {
    text-decoration: none;
    width: 100%;
}

.formClass {
    display: grid;
    padding: 0;
    width: 100%;
    height: 100%;

    grid-template-rows: 100%;
}



.selectbox {
    background-color: #191B1D !important;
    height: 100%;
    width: 100%;

    grid-template-rows: 100% 350px ;
    display: grid;
    grid-gap: 5px;
}

#select {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    align-items: center;
}

.select-content {
    background-color: #DFE4EA;
    margin-left: 5px;
    height: 90%;
    width: 100%;
    outline: none
}

.select-content > p {
    font-size: 20px;
    color: #191B1D;
}

#options {
    display: grid;
    max-height: 400px;
    overflow-y: scroll;
    display: none;

}

#options::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: rgba(0,0,0,.15);
}

#options::-webkit-scrollbar-thumb {
    background-color: rgba(240, 87 ,45, .7);
    border-radius: 20px;
}

#options > div {
    display: grid;
}

.content-option:hover {
    transform: scale(1.0005);
}

#options.active {
    display: block;
}

.content-option {
    width: 100%;
    height: 60px;
    align-items: center;
    transition: .2s ease all;
    transform: scale(.92);
    border-bottom: 2px solid  rgba(240, 87 ,45, .7);
    
    display: grid;
    grid-template-columns: 10% 90%;
}

.content-option .texts {
    display: grid;
    grid-template-rows: 50% 50%;

}

.texts p {
    color:#191B1D;
    padding: 0;
}

#btn-search:hover {
    transform: scale(1.02);
    opacity: 90%;
}


/* For mobile */

@media (max-width: 320px) {
    .searcher > h1 {
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    .searcher {
        position: relative;
        z-index: 2;
        height: 35%;
        justify-content: center;

        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 30% 60%;
        padding: 10px 0px;
        grid-gap: 30px;
    }

    .searcher > * {
        align-items: center;
    }
    
    .searcher-input-grid {

        display: grid;
        grid-template-rows: 20% 20% 20%;
        grid-template-columns: 100%;
    }

    .location-container {
        height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        z-index: 5;
    }

    #calendar {
        height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row: 2;
    }

    #btn-search {
        min-height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row: 3;
    }


    #options {
        position: relative;
    }
    
    .content-option {
        flex-direction: row;
    }
    
    #btn-search {
        width: 100%;
        height: 20%;
    }

    .formClass {
        
    }

}