.reserve-page {
    position: relative;
    top: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.reserve-product {
    background-color: rgb(95, 95, 138);
    grid-column: 2;
    grid-row: 1 / 2;

}

.reserve-calendar {
    background-color: rgb(103, 126, 103);
    grid-column: 1 / 2;
    grid-row: 2;
}