.carousel {
  margin: 212px 0px 20px;
  padding: 5px 20px;
  z-index: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel article {
  margin-top: 10px;
}

.slider-categories::-webkit-scrollbar {
  display: none;
}

.slider-categories {
    display: flex;
    overflow-x:scroll;
    cursor: grab;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    gap: 1vw;
    padding: 5px;
  }
  
.slider-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
}

.slider-item div {
  padding: 5px 10px; 
}

.slider-item img{
  height: calc(250px - 63px);
  width: 23.2vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.carousel article p:first-child {
  font-size: 28px;
  font-weight: bold;
}

.category-title {
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 600px) {
  /* For mobile: */
  .carousel {
    margin: 0px 0px 10px;
  }
  
  .slider-item img{
    width: 85vw;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  /* For tablet: */
  .slider-item img{
    width: 46.5vw;
  }
}
  