.suggested-main-container {
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3px 0px 10%;
  padding: 0px 20px;
  width: 100%;
}

.suggested-main-container > p {
  font-size: 24px;
  font-weight: bold;
}

.suggested-render-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card-container {
  position: relative;
  display: flex;
  height: 283px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
}

.fav-icon {
  font-size: 25px;
  position: absolute;
  right: 52%;
  top: 15px;
  animation: pulse 0.7s infinite;
  cursor: pointer;

}

.features {
  padding: 0;
}

.fav-icon > path:hover {
  color: rgb(236, 153, 130);
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

.full-false > path{
  color: white;
}


.full-true > path {
  color: rgb(240, 87, 45);
}

.card-container section {
  display: flex;
  width: 100%;
}

.card-container img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

#suggest-name {
  font-size: 20px;
  font-weight: bold;
}

.valoration {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  min-width: 35%;
  font-weight: bold;
}

.valoration > p {
  font-size: 16px;
}

.valoration > p:first-child {
  display: flex;
  background-color: rgb(240, 87, 45);
  color: #dfe4ea;
  min-width: 25px;
  border-radius: 5px;
  justify-content: center;
}

.see-more {
  display: flex;
  justify-content: center;
}

.see-more button {
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(240, 87, 45);
  border: none;
}

.see-more > button:hover {
  transform: scale(1.02);
  opacity: 95%;
}

.see-more > button > a {
  color: white;
  font-weight: 500;
}

.card-location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-location > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  max-width: 50%;
}

.card-location * {
  margin: 2px;
}

.card-location > a > p {
  color: rgb(240, 87, 45);
  font-size: 12px;
}

.service-icons > * {
  margin: 5px;
  max-height: 15px;
}

.moreText {
  color: rgb(240, 87, 45);
}

@media (max-width: 600px) {
  /* For mobile: */
  .suggested-main-container {
    background-color: #191b1d;
    border-radius: 20px;
    top: 10px;
    padding: 20px 10px;
  }

  .suggested-render-container {
    grid-template-columns: repeat(1, 1fr);
  } 

  .recomendation {
    padding-left: 5vw;
    color: #ffffff;
  }

  .card-container {
    background-color: #ffffff;
    height: 491px;
    width: 90vw;
  }

  .card-container section {
    flex-direction: column;
    justify-content: space-around;
  }

  .card-container section img {
    height: 50%;
    width: 100%;
  }

  .card-information {
    width: 100%;
    height: 50%;
  }

  .card-title > article {
    width: 65%;
  }

  .valoration {
    align-items: center;
    justify-content: space-evenly;
  }

  .fav-icon {
    right: 2%;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  /* For tablet: */
  .card-container {
    width: 100%;
  }

  .suggested-render-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
    