* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .carousel {
    margin: 175px 40px 10px;
    z-index: 1;
    background-color: #FFFFFF;

  }
  
  .slider-categories {
      display: flex;
      max-height: 300px;
      overflow-x:scroll;
      overflow-y: hidden;
      flex-flow: nowrap;
      scroll-snap-type: x mandatory;
      gap: 1vw;
      background-color: #FFFFFF;
      justify-content: space-between;
      align-items: center;
    }
    
  .slider-item {
    height: 240px;
    min-width: 24%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px 0;

    transition:  all .5s ease;
    transform: translateX(255%);
  }
  
  .slider-item div {
    padding: 5px 10px;
    gap: 5px; 
  }

  .slider-item img{
    height: 198px;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

  }
  
  .carousel article p{
    font-size: 16px;
    margin-left: 10px;
  }
  
  .carousel article p:first-child {
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
  }