.reserve-grid-container {
    border: 1px solid red;
    margin: 20px;
    grid-column: 1 / 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 40% 40%;
}

.reserve-grid-item > * {
    width: 100%;
}

.name {
    padding: 20px;
    grid-row: 2;
    grid-column: 1;
}

.surname {
    padding: 20px;
    grid-row: 2;
    grid-column: 2;
}

.email {
    grid-row: 3;
    padding: 20px;
    grid-column: 1;
}

.city {
    grid-row: 3;
    padding: 20px;
    grid-column: 2;
}