nav div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.logo {
  padding-top: 5px;
}

.slogan {
  align-self: flex-end;
  font-style: italic;
}

nav p {
  font-size: 20px;
  font-weight: 300;

  padding-bottom: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav button {
  width: 206px;
  height: 40px;
  border-radius: 7px;
  color: #f0572d;
  border: 1px #f0572d solid;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
}

nav button:hover {
  cursor: pointer;
  background-color: #f0572d;
  color: #ffffff;
}

a {
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

.navMenu {
  height: 100%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 230px;
  gap: 0;
  align-self: center;
}

.profileInfo div {
  display: flex;
  align-items: center;
}

.profileName {
  text-shadow: none;
  font-weight: 500;
  font-size: 16px;
  padding-right: 20px;
  width: 70%;
}

.profileName span {
  color: #f0572d;
}

.profileAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #31363f;
  color: white;
  width: 37px;
  height: 37px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  align-self: center;
}

.formButtons {
  align-self: center;
}
.administration {
  font-size: 22px;
  font-weight: bold;
}

.administration:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.profile-info-web {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.logout {
  position: absolute;
  top: 15px;
  right: 10px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #31363f;
}

.logout:hover {
  cursor: pointer;
}

button.hidden {
  display: none;
}

.hamburgerMenu {
  display: none;
}

.menuHeading {
  display: none;
}

.logoutMobile {
  display: none;
}

.closeMenu {
  display: none;
}

.hide {
  display: none;
}

.socialMedia {
  display: none;
}

nav .socials {
  display: none;
}

.favContainer {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  text-shadow: none;
  width: 50px;
  justify-content: flex-end;
}

.favsMenu {
  display: none;
  align-self: flex-start;
  position: fixed;
  top: 10%;
  right: 10vw;
  height: fit-content;
  max-height: calc(55% + 50px);
  width: 470px;
  background-color: white;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -1px 7px 18px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -1px 7px 18px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -1px 7px 18px 2px rgba(0, 0, 0, 0.6);
}

.favButtonDiv {
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 999;
  text-align: center;
  background-color: #ffffff;
  height: 50px;
  display: flex;
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.25);
}

.favButtonDiv a {
  align-self: center;
  font-weight: bold;
}

.favButtonDiv a:hover {
  transform: scale(1.02);
}

.hideButton {
  display: none;
}

.favsMenu::-webkit-scrollbar {
  display: none;
}

.favContainer:hover .favsMenu {
  display: block;
}

.hideFavsMenu {
  display: none;
}

.favContainer:hover .favIcon svg > * {
  color: #f0572d;
}

.favsMenu h4 {
  padding: 10px 20px;
}

@media only screen and (max-width: 1024px) {
  .slogan {
    display: none;
  }

  .favContainer:hover .favsMenu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.favContainer {
    position: absolute;
    height: 50px;
    top: 175px;
  }

  .favLink {
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .navMenuMobile {
    position: fixed;
    display: flex;
    inset: 0 0 0 30%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 70vw;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 100;
    flex-direction: column;
  }

  .navMenu {
    display: none;
  }

  .navMenuMobile button {
    width: 206px;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .menuHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 175px;
    background-color: #f0572d;
  }

  button.closeMenu {
    width: 50px;
    display: inline-block;
    align-self: flex-start;
    background-color: #f0572d;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 900;
  }

  .hamburgerMenu {
    display: inline-block;
    border: none;
    width: 50px;
    align-self: center;
  }
  .hideMenu {
    display: none;
  }

  .hide {
    display: none;
  }

  .menuHeading {
    color: white;
    display: inline-block;
    align-self: flex-end;
    padding: 0 15px 10px 0;
  }

  .logoutMobile {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    color: #191b1d;

    font-size: 18px;
  }

  p.logoutMobile {
    color: #31363f;
    padding-right: 20px;
    font-weight: 500;
  }

  .formButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  button.btn {
    font-size: 16px;
    background-color: white;
    width: 30vw;
    color: #31363f;
  }

  .profileInfo {
    margin-top: -100px;
    color: white;
    width: 100%;
  }
  .profileInfo span {
    color: #31363f;
  }

  .profileInfo div {
    flex-direction: column;
    text-align: right;
  }

  .profileAvatar {
    align-self: flex-end;
    margin-right: 20px;
    background-color: #dfe4ea;
    color: #31363f;
  }

  .profileName {
    color: #dfe4ea;
    font-weight: 700;
    font-size: 16px;
  }

  .profileName {
    align-self: flex-end;
  }

  .hide a {
    display: none;
  }
  nav .socials {
    display: flex;
    position: fixed;
    bottom: 20px;
    padding: 10px 20px 0px;
    width: 20%;
    align-self: flex-end;
    gap: 15px;
  }

  .formButtons hr {
    width: 65vw;
    border-top: solid #31363f 1px;
  }

  .profileInfo hr {
    width: 65vw;
    border-top: solid #31363f 1px;
    position: absolute;
    bottom: 90px;
  }

  .logout svg {
    display: none;
  }

  .closeMenu > svg > * {
    color: #ffffff;
  }

  .logoutMobile span {
    color: #f0572d;
  }
}
